# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# Ignore environment files
*.env
# Ignore direnv
.envrc

settings.json

# Added by cargo

/target

/db_data
images/
cards
*.tar
/deploy
.idea
dataSources
*.xml
img
banners

result
#mac 
.DS_Store


# admnin
sessions/*
.*sh
