# Create your own version of this file (without the .example)

export DATABASE_URL=postgres://ladeuser:secret@localhost:5432/ladefuchs
export AUTH_TOKEN=911xxxxxxxxxxxx

export CHARGE_PRICE_API_KEY=43xxxxxxxxxxx
export CHARGE_PRICE_API_URL=https://api.chargeprice.app/v1/charge_prices
export LOG_TYPE=Normal
export LISTEN=127.0.0.1