# Create your own version of this file (without the .example)

DATABASE_URL=postgres://ladeuser:ringdingdingding@localhost:5432/ladefuchs

ECO_MOVEMENT_API_KEY=43xxxxxxxxxxx

RUST_LOG=info

LISTEN=0.0.0.0
PORT=3000

SLACK_TOKEN="xxx123"
SLACK_CHANNEL="xxxD12"

# utc times
# sec   min   hour   day of month   month   day of week   year
CRON_SCHEDULE="0 45 23 * * *"

DOMAIN="http://localhost:8080"
