# Create your own version of this file (without the .example)

export POSTGRES_USER=adminfuchs
export POSTGRES_PASSWORD=ringdingdingdingdingading
export POSTGRES_PORT=65430
export POSTGRES_DB=ladefuchs
export DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@localhost:$POSTGRES_PORT/$POSTGRES_DB
export AUTH_TOKEN=52549df1xxxxxxxxxxxxxxxx

export CHARGE_PRICE_API_KEY=34xxxxxxxxxxxxxx
export CHARGE_PRICE_API_URL=https://api.chargeprice.app/v1/charge_prices
export LOG_TYPE=Normal