openapi: "3.0.3"
info:
    version: "1.0"
    description: |
        This is the Ladefuchs API that provides the data for the Android and IOS app. It caches daily the current charge prices from the [Chargeprice API](https://github.com/chargeprice/chargeprice-api-docs). In terms of security, this API uses the Bearer Authentication.  
        Every request has to include a valid token in the request header. Internally this API uses the [Chargeprice API](https://github.com/chargeprice/chargeprice-api-docs), this means that only a selected group can use this API. Keep this token privately and **do not expose** your token to the public.  
        Note: Every route also supports the **apiKey** via query parameter.
    title: Ladefuchs API
    license:
        name: MIT
servers:
    - url: "https://api.ladefuchs.app"
tags:
    - name: cards
      description: The charge prices
    - name: operators
      description: All operators who may be needed later to retrieve the prices
paths:
    /operators/{mode}:
        get:
            security:
                - bearerAuth: []
            tags:
                - operators
            description: Returns a list of all available operators.
            summary: "A list of operators"
            parameters:
                - $ref: "#/components/parameters/operatorFilter"
            responses:
                200:
                    description: Description
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Operator"
                400:
                    $ref: "#/components/responses/BadRequestError"
                401:
                    $ref: "#/components/responses/UnauthorizedError"
                500:
                    $ref: "#/components/responses/InternalError"
    /cards/{country}/{operator}/{chargeMode}:
        get:
            security:
                - bearerAuth: []
            tags:
                - "cards"
            summary: A list of charge prices Version 1
            description: "Returns a charge price list from that specific CPO and that specific current type."
            parameters:
                - $ref: "#/components/parameters/country"
                - $ref: "#/components/parameters/operator"
                - $ref: "#/components/parameters/chargeMode"
            responses:
                200:
                    description: Description
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Card"
                400:
                    $ref: "#/components/responses/BadRequestError"
                401:
                    $ref: "#/components/responses/UnauthorizedError"
                404:
                    $ref: "#/components/responses/OperatorNotFound"
                500:
                    $ref: "#/components/responses/InternalError"
components:
    schemas:
        Operator:
            type: object
            properties:
                identifier:
                    type: string
                    example: cpo-fastned
                displayName:
                    type: string
                    example: Fastned
                name:
                    type: string
                    example: fastned
            required:
                - name
                - displayName
                - identifier
        Card:
            type: object
            properties:
                identifier:
                    type: string
                    example: mvv_emotion
                name:
                    type: string
                    example: MVV eMotion
                provider:
                    type: string
                    example: MVV eMotion
                price:
                    type: number
                    format: double
                    example: 0.39
                updated:
                    type: integer
                    format: int64
                    example: 1641938519
            required:
                - identifier
                - name
                - provider
                - price
                - updated
        Error:
            type: object
            properties:
                statusCode:
                    description: HTTP response status codes
                    type: integer
                    example: 500
                    minimum: 100
                    maximum: 599
                reason:
                    type: string
            required:
                - statusCode
                - reason
                - blockingFeeStart
    parameters:
        apiKey:
            in: query
            name: apiKey
            schema:
                type: string
                example: 90134lsa13377xxxxxxxxxxxxxxxx
        operatorFilter:
            in: path
            name: mode
            required: true
            schema:
                type: string
                enum: ["all", "enabled", "disabled"]
        country:
            in: path
            name: country
            required: true
            description: Only `de` is supported.
            schema:
                type: string
                example: de
        chargeMode:
            in: path
            name: chargeMode
            required: true
            description: Choose a current chargeMode.
            schema:
                type: string
                enum: ["ac", "dc"]
        operator:
            in: path
            name: operator
            required: true
            examples:
                uuid: # Distinct name
                    value: 49db22f4-73bb-427a-89d8-0145a5c7de83
                    summary: CPO identifier (recommended)
                name:
                    value: allego
                    summary: CPO name
            description: |
                Both case insensitivity `name` or identifier `UUID` are supported.  
                For example `fastned` and `97960a25-8009-4250-8e61-b40651e2be99` will return the same result.
            schema:
                oneOf:
                    - type: string
                      format: uuid
                      example: 97960a25-8009-4250-8e61-b40651e2be99
                    - type: string
                      example: fastned
    securitySchemes:
        bearerAuth: # arbitrary name for the security scheme
            type: http
            scheme: bearer
    responses:
        BadRequestError:
            description: Wrong parameters were passed
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/Error"
                    example:
                        statusCode: 400
                        reason: "unknown variant enable, expected one of all, enabled, disabled"
        UnauthorizedError:
            description: Access token is missing or invalid
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/Error"
                    example:
                        statusCode: 401
                        reason: "wrong authorization token got: `xxxxxyyy`"
        ResourceNotFound:
            description: The Resource was not found
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/Error"
                    example:
                        statusCode: 404
                        reason: "The resource was not found"

        OperatorNotFound:
            description: The Operator was not found
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/Error"
                    example:
                        statusCode: 404
                        reason: "The operator does not exists"
        InternalError:
            description: An Unkown error has occured
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/Error"
                    example:
                        statusCode: 500
                        reason: Internal server error
